
.form-control {
    max-width: 30%;
    min-width: 20vh;
}

mat-mdc-chip-set-stacked {
    max-width: 250px; /* Set maximum width */
    width: 75%;      /* Allow it to take full width of the container */
}

mat-chip-option {
    max-width: 75%;           
    word-break: break-word;
    overflow-wrap: break-word; 
}
